body
      {
        background-color: #fcfcfc;
      }
      .block
      {
        margin: 0 auto;
        max-width: 900px;
        padding: 50px 30px;   
      }
      .input-res
      {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font: 15px/1 'Open Sans', sans-serif;
        color: #333;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
        max-width: 500px;
        background-color: #ddd;
        border: none;
        padding: 10px 11px 11px 11px;
        border-radius: 3px;
        box-shadow: none;
        outline: none;
        margin: 0;
        box-sizing: border-box; 
      }

      .h1-res
      {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font: 25px/1 'Open Sans', sans-serif;
        color: #333;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: 100%;
        max-width: 500px;
        border: 10px;
        padding: 10px 11px 11px 120;
        border-radius: 3px;
        box-shadow: none;
        outline: none;
        margin: 0;
      }

      /* Style inputs, select elements and textareas */
      input[type=text], select, textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        resize: vertical;
      }

      /* Style the label to display next to the inputs */
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }

      /* Style the submit button */
      input[type=submit] {
        background-color: #04AA6D;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
      }

      /* Style the container */
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }

      /* Floating column for labels: 9% width */
      .col-9 {
        float: left;
        width: 9%;
        margin-top: 6px;
      }

      /* Floating column for inputs: 55% width */
      .col-55 {
        float: left;
        width: 55%;
        margin-top: 6px;
      }

      .col-20 {
        float: left;
        width: 20%;
        margin-top: 6px;
      }

      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

      /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .col-9, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }

      
      .pagination {
        display: inline-block;
      }

      .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
      }

      .pagination a.active {
        background-color: #4CAF50;
        color: white;
      }

      .pagination a:hover:not(.active) {background-color: #ddd;}

      .searchBtn {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 12px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 1px 2px;
        cursor: pointer;
		}

    .modal {
      /* This way it could be display flex or grid or whatever also. */
      display: none;
      
      /* Probably need media queries here */
      width: 600px;
      max-width: 100%;
      
      height: 600px;
      max-height: 100%;
      
      position: fixed;
      
      z-index: 100;
      
      left: 50%;
      top: 50%;
      
      /* Use this for centering if unknown width/height */
      transform: translate(-50%, -50%);
      
      /* If known, negative margins are probably better (less chance of blurry text). */
      /* margin: -200px 0 0 -200px; */
      
      background: white;
      box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
    }
    .modal.closed {
      display: none;
    }

    .modal.open { 
      display: block; 
    }

    .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 50;   
      background: rgba(0, 0, 0, 0.6);
    }
    .modal-guts {
      
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding: 20px 50px 20px 20px;
    }

    .close-button {
      position: absolute;
      
      /* don't need to go crazy with z-index here, just sits over .modal-guts */
      z-index: 1;
      
      top: 10px;
      
      /* needs to look OK with or without scrollbar */
      right: 20px;
      
      border: 10;
      padding: 5px 10px;
      font-size: 1.3rem;

      color: #aaaaaa;
      float: right;
    }

    .open-button {
      border: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: lightgreen;
      color: white;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 21px;
    }

    .loader {
      width : 80px;
      height: 80px;
      border: 16px solid white;
      border-top:16px solid #BADA55;
      border-radius: 50%;
    }

    .spin {
      animation: spinner 1.5s linear infinite;
    }

  @keyframes spinner {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
